.loading-dot {
  animation: loader-alpha 3000ms;
  animation-fill-mode: forwards;
  overflow: hidden;
}

@keyframes loader-alpha {
  0%, 99% {
    transform: scaleY(1);
    cursor: progress;
  }
  100% {
    transform: scaleY(0);
  }
}
.dot {
  animation: bouncing-dot 1500ms infinite ease-in-out;
  animation-fill-mode: both;
}

.dot2 {
  animation-delay: 100ms;
}

.dot3 {
  animation-delay: 200ms;
}

@keyframes bouncing-dot {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-150px);
  }
}
.homepage {
  animation: loading 500ms ease-in-out;
  animation-delay: 2900ms;
}

@keyframes loading {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}
.first-plate h2 {
  animation: animmenu 1000ms;
}
.first-plate .check-anim {
  animation: animmenu 1000ms;
  animation-delay: 100ms;
  animation-fill-mode: backwards;
}

.second-plate h2 {
  animation: animmenu 1000ms;
  animation-delay: 500ms;
  animation-fill-mode: backwards;
}
.second-plate .check-anim {
  animation: animmenu 1000ms;
  animation-delay: 600ms;
  animation-fill-mode: backwards;
}

.third-plate h2 {
  animation: animmenu 1000ms;
  animation-delay: 1000ms;
  animation-fill-mode: backwards;
}
.third-plate .check-anim {
  animation: animmenu 1000ms;
  animation-delay: 1100ms;
  animation-fill-mode: backwards;
}

@keyframes animmenu {
  0% {
    transform: translateY(9999px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.heart {
  transform-origin: 50% 100%;
  font-family: "Font Awesome 5 Free";
}

.heart:active {
  font-weight: 900;
  background: -webkit-linear-gradient(bottom, #FF79DA, #9356DC);
  background: linear-gradient(bottom, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animheart 200ms ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes animheart {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
.check-anim:hover {
  padding-right: 70px;
}
.check-anim:hover > .round-check {
  transform: translateX(0%);
}
.check-anim:hover .green-check {
  animation: animation-menu 500ms;
  animation-iteration-count: 1;
}

@keyframes animation-menu {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
.check-anim {
  transition: padding-right 250ms ease-in-out;
}

.round-check {
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}

p.booking-explore:hover {
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: 0 1.8px 2.2px rgba(0, 0, 0, 0.056), 0 4.3px 5.3px rgba(0, 0, 0, 0.081), 0 8.1px 10px rgba(0, 0, 0, 0.1), 0 14.5px 17.9px rgba(0, 0, 0, 0.119), 0 27.2px 33.4px rgba(0, 0, 0, 0.144), 0 65px 80px rgba(0, 0, 0, 0.2);
}

div.order > .order-button:hover {
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: 0 1.8px 2.2px rgba(0, 0, 0, 0.056), 0 4.3px 5.3px rgba(0, 0, 0, 0.081), 0 8.1px 10px rgba(0, 0, 0, 0.1), 0 14.5px 17.9px rgba(0, 0, 0, 0.119), 0 27.2px 33.4px rgba(0, 0, 0, 0.144), 0 65px 80px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@font-face {
  font-family: "Shrikhand";
  src: url("font/shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("font/roboto/Roboto-Regular.ttf") format("truetype");
}
header {
  display: flex;
  align-items: center;
  margin: 15px;
}
header .logo {
  margin-left: auto;
  margin-right: auto;
}
header .arrow {
  font-size: 20px;
  color: black;
}

.location {
  background-color: gainsboro;
  width: 100%;
  height: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0px 15px 5px -15px #808080;
}

.location-logo {
  padding-right: 5px;
  color: grey;
}

.location-area {
  padding: 0px 0px 0px 0px;
  border-style: none;
  width: 150px;
  height: 40px;
  background-color: gainsboro;
  font-weight: bold;
  font-size: 15px;
  margin-top: 5px;
}

footer {
  background-color: #353535;
  color: white;
  width: 100%;
  height: 200px;
}
footer h3 {
  font-family: "Shrikhand";
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 15px;
  padding-top: 15px;
}
footer ul {
  list-style: none;
  padding: 10px 0px 0px 0px;
  margin-left: 15px;
  margin-top: 0px;
}
footer ul a {
  text-decoration: none;
  color: white;
}
footer li {
  margin-bottom: 10px;
}
footer .footer-picto {
  margin-right: 10px;
}

@media all and (min-width: 1025px) {
  section.howitworks {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  section.restaurants h2 {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  section.restaurants > .restaurants-menu {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  div.restaurant-name {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
  }

  div.first-plate {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  div.second-plate {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  div.third-plate {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  footer h3 {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  footer ul {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}
body {
  font-family: "Roboto";
  margin: auto;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

.booking {
  background-color: #F6F6F6;
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.booking .booking-title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin: 0px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.booking .booking-subtitle {
  font-size: 15px;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.booking .booking-explore {
  text-align: center;
  border-style: none;
  border-radius: 25px;
  padding: 15px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0 0.3px 2.2px rgba(0, 0, 0, 0.042), 0 0.7px 5.3px rgba(0, 0, 0, 0.061), 0 1.3px 10px rgba(0, 0, 0, 0.075), 0 2.2px 17.9px rgba(0, 0, 0, 0.089), 0 4.2px 33.4px rgba(0, 0, 0, 0.108), 0 10px 80px rgba(0, 0, 0, 0.15);
}
.booking .booking-explore a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.howitworks {
  margin-left: 15px;
  margin-right: 15px;
  background-color: white;
}
.howitworks .howitworks-block {
  border-width: 1px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 10px;
  box-shadow: 0 1.3px 2.5px -10px rgba(0, 0, 0, 0.15), 0 10px 20px -10px rgba(0, 0, 0, 0.3);
}
.howitworks p {
  font-weight: bold;
  font-size: 15px;
}
.howitworks .howitworks-list {
  background-color: #9356DC;
  color: white;
  border-radius: 25px;
  border-width: 0px;
  padding: 5px 10px 5px 10px;
  margin-left: -10px;
}
.howitworks .howitworks-rule {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.howitworks .howitworks-rule p {
  width: 70%;
  text-align: center;
}

.grey-bg {
  background-color: #F6F6F6;
}

.grey-picto {
  color: gray;
}

.violet-bg {
  background-color: #F5EDFF;
}

.resto-picto {
  color: #9356DC;
}

.restaurants {
  background-color: #F6F6F6;
  width: 100%;
  padding-bottom: 20px;
}
.restaurants h2 {
  padding-top: 20px;
  margin-left: 15px;
}
.restaurants .restaurants-menu {
  border-radius: 25px;
  position: relative;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  width: auto;
  height: 240px;
  box-shadow: 0 1.3px 2.5px -10px rgba(0, 0, 0, 0.15), 0 10px 20px -10px rgba(0, 0, 0, 0.3);
}
.restaurants a {
  text-decoration: none;
  color: black;
}
.restaurants .restaurants-img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}
.restaurants .restaurants-new {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #008766;
  background-color: #99e2d0;
  padding: 7px 7px 7px 7px;
  font-size: 12px;
  font-weight: bold;
}
.restaurants p {
  font-size: 15px;
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 50%;
}
.restaurants strong {
  font-weight: bold;
}
.restaurants .restaurants-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
}
.restaurants .heart {
  margin-right: 15px;
  font-size: 20px;
}

.loading-dot {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
  z-index: 2;
  transform-origin: 50% 0%;
}

.three-circles {
  text-align: center;
  margin: 0 auto;
  width: 50%;
  height: 50px;
  padding-top: 280px;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 20px;
  display: inline-block;
}

.dot1 {
  background-color: #9356DC;
}

.dot2 {
  background-color: #FF79DA;
}

.dot3 {
  background-color: #99E2D0;
}

.grey-background {
  background-color: #F6F6F6;
}

.restaurant-name-n-picture {
  width: auto;
  height: 250px;
  position: relative;
}
.restaurant-name-n-picture img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.restaurant-name-n-picture .restaurant-name {
  position: absolute;
  bottom: 10px;
  background-color: #F6F6F6;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding-top: 10px;
}
.restaurant-name-n-picture h1 {
  font-family: "Shrikhand";
  font-size: 25px;
  margin: 0px;
  margin-left: 15px;
}
.restaurant-name-n-picture .heart {
  display: block;
  font-size: 20px;
  margin: 0px;
  margin-right: 15px;
}

.menu {
  background-color: #F6F6F6;
}
.menu h2 {
  font-size: 18px;
  margin-top: 0px;
  margin-left: 15px;
  font-weight: normal;
  width: 90%;
}
.menu h2:after {
  content: "";
  display: block;
  width: 65px;
  padding-top: 5px;
  border-bottom-style: solid;
  border-width: 4px;
  border-color: #99E2D0;
}

.check-anim {
  border-radius: 15px;
  position: relative;
  height: 70px;
  overflow: hidden;
  box-shadow: 0 1.3px 2.5px -10px rgba(0, 0, 0, 0.15), 0 10px 20px -10px rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  padding-right: 0px;
}
.check-anim .plates {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  height: 70px;
  background-color: white;
}
.check-anim .plates .main-course {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0px;
  margin-left: 10px;
  font-size: 17px;
  font-weight: bold;
}
.check-anim .details {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.check-anim .details .trimming {
  margin: 0px;
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  margin-left: 10px;
  font-size: 15px;
}
.check-anim .details .price {
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
  margin-right: 5px;
}
.check-anim .round-check {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 70px;
  height: 70px;
  text-align: center;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
}
.check-anim .round-check .green-check {
  color: white;
  font-size: 30px;
  line-height: 70px;
}

.order {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 40px;
  border-radius: 25px;
}
.order .order-button {
  text-align: center;
  border-style: none;
  border-radius: 25px;
  padding: 15px;
  width: 200px;
  color: white;
  font-weight: bold;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 0 0.3px 2.2px rgba(0, 0, 0, 0.042), 0 0.7px 5.3px rgba(0, 0, 0, 0.061), 0 1.3px 10px rgba(0, 0, 0, 0.075), 0 2.2px 17.9px rgba(0, 0, 0, 0.089), 0 4.2px 33.4px rgba(0, 0, 0, 0.108), 0 10px 80px rgba(0, 0, 0, 0.15);
}

/*# sourceMappingURL=style.css.map */
