@font-face {
  font-family: "Shrikhand";
  src: url("font/shrikhand/Shrikhand-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: url("font/roboto/Roboto-Regular.ttf") format("truetype");
}
header {
  text-align: center;
  margin: 15px;
}

.location {
  background-color: gainsboro;
  width: 100%;
  height: 40px;
  text-align: center;
  margin: 0px;
}

.location-logo {
  padding-right: 5px;
}

.location-area {
  padding: 11px 0px 11px 0px;
  border-style: none;
  width: 40%;
  height: 40px;
  background-color: gainsboro;
  font-weight: bold;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
  height: 200px;
}
footer h3 {
  font-family: "Shrikhand";
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 10px;
  padding-top: 15px;
}
footer ul {
  list-style: none;
  padding: 15px;
  margin: 0px;
}
footer li {
  margin-bottom: 10px;
}
footer .footer-picto {
  margin-right: 10px;
}

body {
  font-family: "Roboto";
}

h2 {
  font-size: 25px;
  font-weight: bold;
}

.booking {
  background-color: grey;
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.booking .booking-title {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  margin: 0px;
}
.booking .booking-subtitle {
  font-size: 15px;
  text-align: center;
}
.booking .booking-explore {
  text-align: center;
  border-style: none;
  border-radius: 25px;
  background-color: #9356DC;
  padding: 15px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
}
.booking .booking-explore a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.howitworks .howitworks-block {
  border-style: solid;
  border-color: hotpink;
  border-width: 1px;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 10px;
}
.howitworks p {
  font-weight: bold;
  font-size: 15px;
}
.howitworks .howitworks-list {
  background-color: #9356DC;
  color: white;
  border-radius: 25px;
  border-width: 0px;
  padding: 5px 10px 5px 10px;
  margin-left: -15px;
}
.howitworks .howitworks-rule {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.restaurants .restaurants-menu {
  border-radius: 25px;
  position: relative;
  background-color: crimson;
  margin-bottom: 15px;
  width: 100%;
  height: 240px;
}
.restaurants .restaurants-img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
}
.restaurants .restaurants-new {
  position: absolute;
  top: 16px;
  right: 16px;
  color: cadetblue;
  background-color: chartreuse;
  padding: 7px 7px 7px 7px;
  font-size: 12px;
  font-weight: bold;
}
.restaurants p {
  font-size: 15px;
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 50%;
}
.restaurants strong {
  font-weight: bold;
}
.restaurants .restaurants-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
}
.restaurants .heart {
  margin-right: 15px;
  font-size: 20px;
}

/*# sourceMappingURL=style.css.map */
