@font-face{
    font-family: 'Shrikhand';
    src: url('font/shrikhand/Shrikhand-Regular.otf') format('otf');
    font-family: 'Roboto';
    src: url('font/roboto/Roboto-Regular.ttf') format('truetype');
}

body {
    font-family: 'Roboto';
}
