@font-face{
    font-family: 'Shrikhand';
    src: url('font/shrikhand/Shrikhand-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Roboto';
    src: url('font/roboto/Roboto-Regular.ttf') format('truetype');
}
