body {
    font-family: 'Roboto';
    margin: auto;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}

.booking {
    background-color: $bgcolor;
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .booking-title {
        font-size: 20px;
        text-align: center;
        font-weight:bold;
        margin: 0px;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .booking-subtitle {
        font-size: 15px;
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .booking-explore {
        text-align: center;
        border-style: none;
        border-radius: 25px;
        background-color: $primary;
        padding: 15px;
        width: 200px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .booking-explore a {
        text-decoration: none;
        color: white;
        font-size: 17px;
    }
}

.howitworks {
    margin-left: 15px;
    margin-right: 15px;

    .howitworks-block {
        border-width: 1px;
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 15px;
        margin-left: 15px;
        margin-right: 10px;
        }
    p{
        font-weight: bold;
        font-size: 15px;
    }
    .howitworks-list {
        background-color: $primary;
        color: white;
        border-radius: 25px;
        border-width: 0px;
        padding: 5px 10px 5px 10px;
        margin-left: -10px;
    }
    .howitworks-rule {
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        p {
            width: 70%;
        }
        }
}
.grey-bg {
    background-color: $bgcolor;
}
.grey-picto {
    color: gray;
}
.violet-bg {
    background-color: #F5EDFF;
}
.resto-picto {
    color: $primary;
}

.restaurants {
    background-color: $bgcolor;
    width: 100%;

    h2 {
        padding-top: 20px;
        margin-left: 15px;
    }

    .restaurants-menu { 
        border-radius: 25px;
        position: relative;
        background-color: crimson;
        margin-bottom: 15px;
        margin-left: 15px;
        margin-right: 15px;
        width: auto;
        height: 240px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .restaurants-img {
        width: 100%;
        height: 170px;
        object-fit: cover;
        border-radius: 25px 25px 0px 0px;
    }
    .restaurants-new {
        position: absolute;
        top: 16px;
        right: 16px;
        color: #008766;
        background-color: #99e2d0;
        padding: 7px 7px 7px 7px;
        font-size: 12px;
        font-weight: bold;
    }
    p {
        font-size: 15px;
        margin-left: 15px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 50%;
    }
    strong {
        font-weight: bold;
    }
    .restaurants-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content:space-between;
        height: 60px;
        width: 100%;
        }
        .heart {
            margin-right: 15px;
            font-size: 20px;
        }
}