.greypage {
    background-color: $bgcolor;
}
.delice-sens {
    width: auto;
    height: 250px;
    position: relative;

    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .restaurant-name {
        position: absolute;
        bottom: 10px;
        background-color: $bgcolor;
        width: 100%;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h1 {
        font-family: 'Shrikhand';
        font-size: 25px;
        margin-left: 15px;
    }

    .heart {  
        display: block;          
        margin-right: 20px;
        font-size: 20px;
    }
}

.menu {
    background-color: $bgcolor;
    width: 100%;
    h2 {
        font-size: 18px;
        margin-top: 0px;
        font-weight: normal;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    h2:after {
        content: ""; 
        display: block; 
        width: 65px;
        padding-top: 5px;
        border-bottom-style: solid;
        border-width: 4px;
        border-color: $tertiary;
        }   
}

.check-anim {
    border-radius: 15px;
    position: relative;
    height: 70px;
    transition: padding-right 750ms ease-in-out;
    overflow: hidden;
    @include shadow-element;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;


    .plates {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-around;
        width: 100%;
        height: 70px;
        background-color: white;

        .main-course {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin: 0px;
            margin-left: 10px;
            font-size: 17px;
            font-weight: bold;
        }
    }
    .details {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        .trimming {
            margin: 0px;
            padding-right: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            margin-left: 10px;
            font-size: 15px;
        }
        .price {
            font-size: 15px;
            font-weight: bold;
            margin: 0px;
            margin-right: 5px;
        }
    }
    .round-check {
        position: absolute;
        right:0px;
        top:0px;
        width: 70px;
        height: 70px;
        text-align: center;
        background-color:$tertiary;
        border-radius: 0px 15px 15px 0px;
        transform: translateX(100%);
        transition: transform 750ms ease-in-out;

        .green-check {
            color: white;
            font-size: 30px;
            line-height: 70px;
        }
    }
}

.order {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;


    .order-button {
        text-align: center;
        border-style: none;
        border-radius: 25px;
        background-color: $primary;
        padding: 15px;
        width: 200px;
        color: white;
        font-weight: bold;

        @include gradient-button;
        box-shadow: 10px 15px 10px -15px #808080;  
    }
}
.check-anim:hover>.round-check {
    transform: translateX(0%);
}



// .round-check::before {
//     text-align: center;
//     display: block;
//     width: 70px;
//     height: 70px;
//     line-height: 70px;
//     transform: rotate(0deg);
// }

// .round-check::after {
//     display: block;
//     content: '';
//     position: absolute;
//     height: 20px;
//     width: 20px;
//     border: 3px solid #fff;
//     border-radius: 50%;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
// }


