.first-plate {
     h2 {
         animation: animmenu 1000ms;
        }

    .check-anim {
        animation: animmenu 1000ms;
        animation-delay: 100ms;
        animation-fill-mode: backwards;
    }
}

.second-plate {
    h2 {
        animation: animmenu 1000ms;
        animation-delay: 300ms;
        animation-fill-mode: backwards;
    }

    .check-anim {
        animation: animmenu 1000ms;
        animation-delay: 400ms;
        animation-fill-mode: backwards;
    }
}

.third-plate {
    h2 {
        animation: animmenu 1000ms;
        animation-delay: 600ms;
        animation-fill-mode: backwards;
    }

    .check-anim {
        animation: animmenu 1000ms;
        animation-delay: 700ms;
        animation-fill-mode: backwards;
    }
}

@keyframes animmenu {
    0% {
        transform: translateY(9999px);
    }
    90% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.heart {
    transform-origin: 50% 100%;
    font-family: 'Font Awesome\ 5 Free';
}

.heart:active {
    font-weight: 900;
    background: -webkit-linear-gradient(bottom, $secondary, $primary);
    background: linear-gradient(bottom, $secondary, $primary);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animheart 500ms;
}

@keyframes animheart {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.check-anim:hover {
    .round-check {
        display: block;
        animation : menu2 1000ms;
        transform-origin: 100% 50%;
    }
    .price {
        animation : price-move 1000ms;
        animation-fill-mode: forwards;
    }
    .green-check {
        animation : animation-menu 1500ms;
        animation-iteration-count: 1;
    }
    .main-course {
        width: 70%

    }
    .trimming {
        width: 70%;
    }
}


@keyframes animation-menu {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1080deg);
    }
}
@keyframes menu2 {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
@keyframes price-move {
    0% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(-10px);
    }
}