@mixin gradient-button {
    background-image: linear-gradient(to bottom right, $secondary, $primary) ;
}

@mixin gradient-button2 {
  background-image: linear-gradient(to bottom right, blue, crimson) ;
}

@mixin shadow-element {
  box-shadow:
  0 1.3px 2.5px -10px rgba(0, 0, 0, 0.15),
  0 10px 20px -10px rgba(0, 0, 0, 0.3);

}