footer{
    background-color: #353535;
    color: white;
    width: 100%;
    height: 200px;

    h3 {
        font-family: 'Shrikhand';
        font-size: 25px;
        font-weight: normal;
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: 15px;
        padding-top: 15px;
    }
    
    ul {
        list-style: none;
        padding: 10px 0px 0px 0px;
        margin-left: 15px;
        margin-top: 0px;

        a{
            text-decoration: none;
            color: white;
        }
    }
    li {
        margin-bottom: 10px;
    }
    .footer-picto {
        margin-right: 10px;
    }
}
